<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAL+RLsrFUF0GDWoShC5dYhQQAAAACAAAAAAAQZgAAAAEAACAAAADJCfhfg/BRCQOet3EylA0Fka77iu9VfUufSAh460waGgAAAAAOgAAAAAIAACAAAADwecqZCqx9nRztcUT5f62bTmSTFTOlfZQzlFgR0QIGrDAAAAChORNMw1UvDGaAHdrpYOcY3+I5tLOlLSMZGI9EXvb6g1hq2nms/ZptLWagfcIRoCZAAAAAMAkWrh4AJeS4IDvMtpc0ON2WIS8rAIoJd/QkWqUXgNYMD0gUD3AZ4b9D2mMnGmP4FQp3CNyTxZ1kHny/EnEJFg==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>